page-cadastro-candidato {
    .margintop30{
        margin-top: 30px;
    }
    ion-title{
        text-align: center !important;
    }
    ion-content{
        background-color: #EAFFFF !important;
    }
    ion-item{
        background-color: transparent !important;
    }
}
