<ion-header>

  <ion-navbar color="azulbahia">
    <ion-title>Competências</ion-title>
    <ion-buttons end>
      <button ion-button>
        Sair &nbsp;<ion-icon name="arrow-dropright"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <hr>
  <p>Certificação Acadêmica</p>
  <hr>
  <ion-item>
    <ion-label color="azulbahia">Escolaridade</ion-label>
    <ion-select [(ngModel)]="candidato.escolaridade">
      <ion-option value="Pós-graduação completa">Pós-graduação completa</ion-option>
      <ion-option value="Superior completo">Superior completo</ion-option>
      <ion-option value="Superior incompleto">Superior incompleto</ion-option>
      <ion-option value="Ensino médio completo">Ensino médio completo</ion-option>
      <ion-option value="Ensino médio incompleto">Ensino médio incompleto</ion-option>
      <ion-option value="Técnico/Profissionalizante completo">Técnico/Profissionalizante completo</ion-option>
      <ion-option value="Técnico/Profissionalizante incompleto">Técnico/Profissionalizante incompleto</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label color="azulbahia">Estudante</ion-label>
    <ion-select [(ngModel)]="candidato.estudante">
      <ion-option value="Sim">Sim</ion-option>
      <ion-option value="Não">Não</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngFor="let cursoTecnico of candidato.cursoTecnico">
    <ion-label color="azulbahia" floating>Curso Tecnico</ion-label>
    <ion-input type="text" [(ngModel)]="cursoTecnico.nome" (keyup)="tecnico()"></ion-input>
  </ion-item>

  <ion-item *ngFor="let cursoSuperior of candidato.cursoSuperior">
    <ion-label color="azulbahia" floating>Curso Superior</ion-label>
    <ion-input type="text" [(ngModel)]="cursoSuperior.nome" (keyup)="superior()"></ion-input>
  </ion-item>

  <ion-item *ngFor="let posGraduacao of candidato.posGraduacao">
    <ion-label color="azulbahia" floating>Pós-graduação</ion-label>
    <ion-input type="text" [(ngModel)]="posGraduacao.nome" (keyup)="graduacao()"></ion-input>
  </ion-item>

  <ion-item *ngFor="let idiomas of candidato.idiomas">
    <ion-label color="azulbahia" floating>Idiomas</ion-label>
    <ion-input type="text" [(ngModel)]="idiomas.nome" (keyup)="idiomasF()"></ion-input>
  </ion-item>

  <p>Habilidades</p>
  <hr>

  <ion-item *ngFor="let habilidade of candidato.habilidades">
    <ion-label color="azulbahia" floating>Habilidades</ion-label>
    <ion-input type="text" [(ngModel)]="habilidade.nome" (keyup)="habilidades()"></ion-input>
  </ion-item>

  <ion-grid class="margintop30">
    <ion-row>
      <ion-col col-4 offset-8>
        <button color="azulbahia" ion-button (click)="salvarInformacoes()">Salvar</button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>