page-empresa-vagas {
    ion-content{
        background-color: #EAFFFF !important;
    }
    ion-title{
        text-align: center !important;
    }
    .vagas{
        background-color: white;
        margin: 0 10px;
    }
}
