page-dados-usuario {
    ion-title {
      text-align: center !important;
    }

    ion-content {
      background-color: #EAFFFF !important;
    }

    ion-item {
      background-color: transparent !important;
    }


}
