page-perfil-usuario {

    ion-title {
        text-align: center !important;
    }

    ion-content {
        background-color: #EAFFFF !important;
    }

    .centralize{
        align-self: center;
    }


    .title{
      font-size: 20px;
      text-align: center;  
    }

    .card-margin{
        margin-bottom: 15px;
    }


}
