page-perfil-usuario {

    ion-title {
        text-align: center !important;
    }

    ion-content {
        background-color: #EAFFFF !important;
    }

    h2 {
      color: #0064AA !important;
    }

    .centralize {
      text-align: center;
      align-self: center;
    }

    .title {
      text-align: center;
    }

    .card-margin {
      margin-bottom: 15px;
    }



}
