page-pesos-vaga {
    ion-content {
      background-color: #EAFFFF !important;
    }
    ion-title {
      text-align: center !important;
    }

    ion-item {
      background-color: transparent !important;
    }

}
