
<ion-header>

  <ion-navbar color="azulbahia">
    <ion-title>Vaga</ion-title>
    <ion-buttons end>
      <button ion-button>
        Sair &nbsp;<ion-icon name="arrow-dropright"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <hr>
    <h4>Dados da vaga</h4>
    <hr>
    <p>Vaga de: {{vaga.contratacao}}</p>
    <p>Ocupação: {{vaga.ocupacao}}</p>
    <p>Descrição: {{vaga.descicao}}</p>
    <p>Quantidade de vagas: {{vaga.quantidade}}</p>
    <hr>
    <h4>Requisitos</h4>
    <hr>
    <p>Experiência profissional (Meses): {{vaga.mesesProfissional}}</p>
    <p>Escolaridade: {{vaga.escolaridade}}</p>
    <p>Gênero: {{vaga.genero}}</p>
    <p *ngFor="let cursoTecnico of vaga.cursoTecnico">
      Curso Tecnico: {{cursoTecnico.nome}}
    </p>
    <p *ngFor="let cursoSuperior of vaga.cursoSuperior">
      Curso Superior: {{cursoSuperior.nome}}
    </p>
    <p *ngFor = "let posGraduacao of vaga.posGraduacao">
      Pós-graduação: {{posGraduacao.nome}}
    </p>
    <p *ngFor = "let habilidades of vaga.habilidades">
      Habilidades: {{habilidades.nome}}</p>
    <p *ngFor = "let certificacoes of vaga.certificacoes">
      Certificações: {{certificacoes.nome}}</p>
    <p>Faixa etária: {{vaga.inicial}} até {{vaga.final}}</p>    
    <p>Aceita Deficiente: {{vaga.deficiente}}</p>
    <p>Habilitação: {{vaga.habilitacao}}</p>
    <p>Viagens: {{vaga.viagens}}</p>
    <p>Dormir: {{vaga.dormir}}</p>
    <hr>
    <h4>Informações financeiras</h4>
    <hr>
    <p>Salário: {{vaga.salario}}</p>
    <hr>
    <h4>Local e horário de trabalho</h4>
    <hr>
    <p>Horário: {{vaga.turno}}</p>
    <p>Empresa: {{vaga.empresas}}</p>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button color="azulbahia" ion-button (click)="cadidatar()">Candidatar-se</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
